.navbar_login_dropdown {
  width: 300px;
  .nav-item a.nav-link {
    &.active {
      color: black;
    }
    color: #ccc;
    &:hover {
      color: black;
    }
  }
  .error {
    text-align: center;
    color: rgba(181, 67, 67, 0.8)
  }
}