.boardgame_cover_img {
  max-width: 200px;
}

.boardgame_detail {
  display: flex;
  div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    width: 150px;
    height: 100px;
    &:not(:last-child) {
      margin-right: 0.5rem;
      padding-right: 0.5rem;
      border-right: 2px solid #f0f2f4;
    }
  }
}